<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Edit Product</h3>

<a th:href="@{/}">Back to product list</a>

<form action="/update" method="post" th:object="${songDto}">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"/></td>
        </tr>

        <tr>
            <td>Name Song:</td>
            <td>
                <input type="text" th:field="*{nameSong}" />
                <p style="color: aqua"
                   th:errors="*{nameSong}"
                   th:if="${#fields.hasErrors('nameSong')}">
                </p>
            </td>
        </tr>

        <tr>
            <td>Singer:</td>
            <td>
                <input type="text" th:field="*{singer}" />
                <p style="color: aqua"
                   th:errors="*{singer}"
                   th:if="${#fields.hasErrors('singer')}">
                </p>
            </td>
        </tr>

        <tr>
            <td>Category:</td>
            <td>
                <input type="text" th:field="*{category}" />
                <p style="color: aqua"
                   th:errors="*{category}"
                   th:if="${#fields.hasErrors('category')}">
                </p>
            </td>
        </tr>

        <tr>
            <td>Link:</td>
            <td>
                <input type="text" th:field="*{link}" />
                <p style="color: aqua"
                   th:errors="*{link}"
                   th:if="${#fields.hasErrors('link')}">
                </p>
            </td>
        </tr>



    </table>


    <button type="submit">Save</button>
</form>
</body>
</html>