<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Create blog</h3>

<a th:href="@{/}">Back to user list</a>

<form action="/save" method="post" th:object="${userDto}">
    <table>
        <tr>
            <td>Firt Name:</td>
            <td>
                <input type="text" th:field="*{firstName}" />
                <p style="color: aqua"
                    th:errors="*{firstName}"
                    th:if="${#fields.hasErrors('firstName')}">
                </p>
            </td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>

        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{userAge}" /></td>
        </tr>


        <tr>
            <td>Email:</td>
            <td>
                <input type="text" th:field="*{userEmail}" />
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                <input type="text" th:field="*{phoneNumber}" />
            </td>
        </tr>


    </table>

    <button type="submit">Save</button>
</form>
</body>
</html>
