<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<table border="1" >
    &lt;!&ndash;<table border="1" class="table table-striped  table-bordered text-center" id="productList">&ndash;&gt;
    <div >
        <label hidden for="inputId" class="form-label">ID:</label>
        <input hidden type="number" th:field="*{book.id}" class="form-control" id="inputId"/>
    </div>
    <div >
        <label class="form-label">Title:</label>
        <input  th:field="*{book.bookTitle}" class="form-control"  readonly/>
    </div>

    <div >
        <label class="form-label">Author:</label>
        <input  th:field="*{book.bookAuthor}" class="form-control"  readonly/>
    </div>

    <div >
        <label  class="form-label">Amount:</label>
        <input  th:field="*{book.amount}"  class="form-control"  readonly/>
    </div>

    &lt;!&ndash;    <div >&ndash;&gt;
    &lt;!&ndash;        <label class="form-label">Code:</label>&ndash;&gt;
    &lt;!&ndash;        <input  th:field="*{book.bookRental}" class="form-control" readonly/>&ndash;&gt;
    &lt;!&ndash;    </div>&ndash;&gt;

    <div >
        <a th:href="@{/pay/__${book.id}__}" >Pay</a>
        <a th:href="@{/borrow/__${book.id}__}"  >Borrow</a>
    </div>


</table>-->

</body>
</html>