<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>
<body>
<a th:href="@{/create}">Add new order</a>


<!--<form action="/">-->
<!--    <input type="text" name="id" placeholder="Id search" th:value="${id}">-->
<!--    <input type="text" name="name" placeholder="Name search " th:value="${name}">-->
<!--    <input type="text" name="phone" placeholder="Phone" th:value="${phone}">-->

<!--    <button type="submit">Search</button>-->

<!--</form>-->

<table border="1" class="table table-light table-striped table-bordered">
    <tr class="table-dark text-light">
        <th>STT</th>
        <th>Mã đơn hàng</th>
        <th>Tên sản phẩm</th>
        <th>Giá(USD)</th>
        <th>Loại sản phẩm</th>
        <th>Ngày mua</th>
        <th>Số lượng</th>
        <th>Tổng tiền(USD)</th>
        <th>Actior</th>
    </tr>

    <tr th:each="orderProduct : ${orderProductList}">
        <td th:text="${orderProduct.orderId}"></td>
        <td th:text="${orderProduct.product.productName}"></td>
        <td th:text="${orderProduct.product.productPrice}"></td>
        <td th:text="${orderProduct.orderAmount}"></td>
        <td th:text="${orderProduct.product.productType.productTypeName}"></td>
        <td th:text="${orderProduct.dateOfBuy}"></td>
        <td th:text="${orderProduct.orderAmount}"></td>
        <td th:text="${orderProduct.product.productPrice}"></td>
        <td><a th:href="@{edit/__${orderProduct.orderId}__}">Edit</a></td>

    </tr>
</table>

<div class="row">
    <div class="col-5">

    </div>
    <div aria-label="Page navigation example" class="text-center col-2" style="overflow-x: hidden;overflow-y: hidden">
        <ul class="pagination">
            <li class="page-link"><a
                    th:href="@{'/'(page=${orderProductList.number -1})}"
                    th:if="${orderProductList.hasPrevious()}">Previous</a></li>
            <li class="page-item">
                <a class="page-link" th:if="${orderProductList.hasPrevious()}"
                   th:href="@{'/'(page=${orderProductList.number - 1})}"
                   th:text="${orderProductList.number }"></a>
            </li>

            <li class="page-item active">
                <a class="page-link" th:text="${orderProductList.number + 1}"
                   th:href="@{'/'(page=${orderProductList.number})}">
                    <span class="sr-only">(trang hiện tại)</span></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:if="${orderProductList.hasNext()}"
                   th:href="@{'/'(page=${orderProductList.number + 1})}"
                   th:text="${orderProductList.number + 2}"></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{'/'(page=${orderProductList.number + 1})}"
                   th:if="${orderProductList.hasNext()}">Next</a></li>
        </ul>
    </div>
    <div class="col-5">

    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
</html>